/* Page 1 / Hintergrundbild */



main{
    background-image: url(../img/cleo-topper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 7%;
}

body {
    margin: 0;
    padding: 0;   
}


/* Page 1 / Take Action */

.page1 p {
    color:white;  
    font-size: 30px;
    margin-left:90%; 
    text-decoration: underline #e7bc0e;
    margin-top: 0;
}

.page1 h1 {
    color:white;  
    margin-top:300px; 
    font-size: 30px;
    width: 300px;
    font-family: Santio bold;
}

.page2 {
    padding-top: 200px;
    padding-bottom: 200px;
}
.page2 p{
    font-size: 2em;
    width: 600px;
    margin-bottom: 0;
}

.page1 h2 {
    color:#e7bc0e;

}

.page2 p {
    color:#6bc1a3;
}

.page22 {
    color: white;
    background-color:black; 
}

.page3 h2 {
    color:#e7bc0e;
    width:600px; 
    font-size: 600px;
}



.page3{
    padding: 100px 0;
}
.page3 img{
    width: 100px;
}
.page3 h2{
    font-size: 5em; 
    color:#6bc1a3; 
}

.page3 h3 {
    font-size: 3em; 
    color:#6bc1a3; 
}

.page3 span {
    color: white;
    background-color:black; 
}

.page4 {
    font-size:40px; 
    width:800px; 
    text-align:left; 
    color:darkblue; 
}

.page4 p {
    color:white; 
}

/* Hier war ich mir nicht mehr sicher wie ich das 2. Background Image erstelle. Weil beide sich bei mir gegenseitig aufheben.*/
/*
.page21 {
    color:#6bc1a3; 
    width:200px; 
    position:relative; 
    margin-left:500px; 
    font-style:bold; 
    font-size:20px; 
}

.page22 {
    background-color:black; 
    width:200px; 
}

.symbol1 {
    width:100px;
    height: 100px;
    display: inline-block;
    position:relative;
    margin-bottom:0px;
}

.ubung img {
    width:100px; 
} */